@import url('https://fonts.googleapis.com/css2?family=Solitreo&display=swap');
/* font-family: 'Solitreo', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
/* font-family: 'Orbitron', sans-serif; */

:root {
    /* color pallete */
    --deepocean: #012e4a;
    --ocean: #036280;
    --waves: #378ba4;
    --sky: #81bece;
    --sand: #e8ede7;
    /* fonts */
    --cursive: 'Solitreo', cursive;
    --printed: 'Roboto', sans-serif;
    --lcd: 'Orbitron', sans-serif;
}
/* body */

body {
    background-color: var(--sand);
}

/* Introduction */

h1, 
h2 {
    color: var(--deepocean);
    font-family: var(--cursive);
}

/* timer */
#timer {
    font-size: 20px;
    color: var(--waves);
    font-family: var(--lcd);

}

a {
    color: var(--waves);
    font-family: var(--printed);
}

a:hover {
    color: var(--sky);
    font-family: var(--printed);
}

/* buttons */

.btn:focus, .btn:active, .btn:visited {
    outline: none !important;
    box-shadow: none !important;
    background-color: var(--deepocean);
}

#finalScore {
    font-family: var(--lcd);
    font-weight: bold;
}

span {
    font-family: var(--printed);
}

p {
    font-family: var(--printed);
}

#questionTitle {
    font-size: 20px;
    font-family: var(--printed);
}

#answerCheck {
    font-style: italic;
    color: #4D5159;
}